link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
link(rel='stylesheet', href='/bower_components/summernote/dist/summernote.css')
script(src='/bower_components/summernote/dist/summernote.min.js') 
script(src='/bower_components/summernote/lang/summernote-zh-CN.js')