doctype html
html(lang='zh')
  head
    title= title
    meta(charset='UTF-8')
    include ../includes/bootstrap.jade
    include ../includes/summernote.jade
    link(rel='stylesheet', href='stylesheets/style.css')
    script.
      $(document).ready(function() {
        $('#summernote').summernote({
          height: 200,
          lang: 'zh-CN'
        });
      });
  body
    include ../navbar.jade
    block content