doctype html
html(lang='zh')
  head
    title= title
    meta(charset='UTF-8')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/bower_components/summernote/dist/summernote.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src='/bower_components/summernote/dist/summernote.min.js') 
    script(src='/bower_components/summernote/lang/summernote-zh-CN.js')
    script.
      $(document).ready(function() {
        $('#summernote').summernote({
          height: 200,
          lang: 'zh-CN'
        });
      });
  body
    block content