extends layout

block content
  form(role='form', action='/post/new', method='post', enctype='mulitpart/form-data')
    legend = #{legend}
    .form-group
      input.form-control(type='text' id='title', name='title',placeholder='来一个醒目的标题')
    .form-group
      textarea.input-block-level#summernote(name='content')
    button(class='btn btn-primary') 提交