doctype html
html(lang='zh')
  head
    title= title
    meta(charset='UTF-8')
    include includes/bootstrap.jade
    link(rel='stylesheet', href='stylesheets/style.css')
    script(src='/bower_components/timeago/timeago_zh.js')
    block header
  body
    include navbar
    .container
      block content